h2 {
	color: white;
}

body{
	background-color: #424A52;
}

.navbar {
  overflow: hidden;
  background-color: #343A40;
  position: fixed; 
  bottom: 0;
  width: 100%; 
}

.navbar-brand{
	color: white;
}

